<link href="~/StyleSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    750 Archibald Street<br />
    Winnipeg, MB<br />
    <abbr title="Phone">Phone:</abbr>
    431-333-3333
</address>

<address class="txt0">
    <strong>Email:</strong>   <a class="txt1" href="mailto:Support@example.com">cayden.o'shea@robertsoncollege.net</a><br />
</address>