@model IEnumerable<TradingCommerce.Models.Event>
<link href="~/StyleSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home Page";
}

<script>
        function clock(){
    //calculate angle
    var d, h, m, s;
    d = new Date;

    h = 30 * ((d.getHours() % 12) + d.getMinutes() / 60);
    m = 6 * d.getMinutes();
    s = 6 * d.getSeconds();

    //move hands
    setAttr('h-hand', h);
    setAttr('m-hand', m);
    setAttr('s-hand', s);
    setAttr('s-tail', s+180);

    //display time
    h = d.getHours();
    m = d.getMinutes();
    s = d.getSeconds();

    if(h >= 12){
        setText('suffix', 'PM');
    }else{
        setText('suffix', 'AM');
    }

    if(h != 12){
        h %= 12;
    }

    setText('sec', s);
    setText('min', m);
    setText('hr', h);

    //call every second
    setTimeout(clock, 1000);

}

function setAttr(id,val){
    var v = 'rotate(' + val + ', 70, 70)';
    document.getElementById(id).setAttribute('transform', v);
}

function setText(id,val){
    if(val < 10){
        val = '0' + val;
    }
    document.getElementById(id).innerHTML = val;
}

        window.onload = clock;

        function home() {
            Response.redirect("Armory.aspx");
        }
</script>
<div class="analog-clock">
    <svg width="140" height="140">
        <circle id="clock-face" cx="70" cy="70" r="65" />
        <line id="h-hand" x1="70" y1="70" x2="70" y2="38" />
        <line id="m-hand" x1="70" y1="70" x2="70" y2="20" />
        <line id="s-hand" x1="70" y1="70" x2="70" y2="12" />
        <line id="s-tail" x1="70" y1="70" x2="70" y2="56" />
        <text x="62" y="18">12</text>
        <text x="126" y="76">3</text>
        <text x="66" y="130">6</text>
        <text x="7" y="76">9</text>
    </svg>
    <div class="time-text">
        <span id="hr">00</span>
        <span>:</span>
        <span id="min">00</span>
        <span>:</span>
        <span id="sec">00</span>
        <span id="suffix">--</span>
    </div>
</div>

<div style="color: black" class="jumbotron">
    <h1>Local Connection</h1>
    <p class="lead">TLC is a app dedicated to connecting local businesses</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Local Events</h2>
        <p>
            Check out what businesses near you have to say:
        </p>
    </div>

</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Business.businessName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Business.businessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.details)
            </td>
        </tr>
    }
</table>